
.front_page_body{
    background-image: url('267367.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}

.home_page_body{
    background-image: url('195666.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}

